/*--MY STEPY ACCORDIAN START--*/
.accordion .item .heading {
	font-size: 17px;
	cursor: pointer;
	color: #c9c6c6;
	padding-left: 15px;
	background-position: right 20px top -95px;
	border-bottom: 1px solid #CCC;
	box-sizing: border-box;
	font-family: Tahoma, Geneva, sans-serif;
}
.order {
	background-color: #FFF;
	width: 100%;
	display: inline-block;
	padding-top: 12px;
}
.order h2 {
	color: #333;
	margin: 0;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size:16px;
}
.accordion {
	border-radius: 5px;
	overflow: hidden;
	margin: auto;
	margin-top: 12px;
	text-align:left;
}
.accordion .item .heading {
	cursor:pointer;
}
.accordion .item .heading span {
	color: #b0ead9;
}
.open .heading {
	background:#e34b2f !important;
	border:1px solid #e34b2f !important;
}
.contentbg .open .heading {
	background-color: #333!important;
	color: #fff!important;
}
.accordion .item.open .heading, .accordion .item:last-child .heading {
	border: 0;
}
.accordion .item.open .heading {
	background-position: right 20px top -5px;
}
.accordion .item .content {
	display: none;
	background: #fff;
	font-size: 14px;
}
.checkoutstep h3{
	font-size: 17px;
	margin: 0 0 7px;
	padding: 0;
	text-transform: uppercase;
}
.checkoutstep h3 span{
	font-size:12px;
	color:#333;
	text-transform:none;
	padding-left:12px;
}
.checkoutstep label {
	font-weight: normal;
	font-size: 13px;
}
/*--MY STEPY ACCORDIAN END--*/

.f1 {
	padding: 25px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.f1 h3 {
	margin-top: 0;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.f1-steps {
	overflow: hidden;
	position: relative;
	margin-top: 20px;
	list-style:none;
	text-align:center;
	padding-left:50px;
}
.f1-progress {
	position: absolute;
	top: 24px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #ddd;
}
.f1-progress-line {
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	background: #f35b3f;
}
.f1-step {
	position: relative;
	float: left;
	width: 24.333%;
	padding: 0 5px;
}
.f1-step-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-top: 4px;
	background: #ddd;
	font-size: 22px;
	color: #fff;
	line-height: 40px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align:center;
}
.verified .f1-step-icon {
	background: #fff!important;
	border: 1px solid #f35b3f;
	color: #f35b3f;
	line-height: 38px;
}
.f1-step.active .f1-step-icon {
	width: 48px;
	height: 48px;
	margin-top: 0;
	background: #f35b3f;
	font-size: 22px;
	line-height: 48px;
}
.f1-step p {
	color: #ccc;
}
.verified p {
	color: #f35b3f;
}
.f1-step.open p {
	color: #f35b3f;
}
.f1 fieldset {
	display: none;
	text-align: left;
}
.f1-buttons {
	text-align: right;
}
.f1 .input-error {
	border-color: #f35b3f;
}



/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {
}
 @media (min-width: 768px) and (max-width: 991px) {
}
 @media (max-width: 767px) {
.navbar {
	padding-top: 0;
}
.navbar.navbar-no-bg {
	background: #333;
	background: rgba(51, 51, 51, 0.9);
}
.navbar-brand {
	height: 60px;
	margin-left: 15px;
}
.navbar-collapse {
	border: 0;
}
.navbar-toggle {
	margin-top: 12px;
}
.top-content {
	padding: 40px 0 110px 0;
}
}
 @media (max-width: 415px) {
h1, h2 {
	font-size: 32px;
}
.f1 {
	padding-bottom: 20px;
}
.f1-buttons button {
	margin-bottom: 5px;
}
}


/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
	
	/* logo */
    .navbar-brand {
 background-image: url(../img/logo@2x.png) !important;
background-repeat: no-repeat !important;
background-size: 162px 36px !important;
}
}

